.p__opensans2 {
    font-family: var(--font-alt);
    color: var(--color-gray);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
}
.app__header{
    background-color: var(--color-black);
}
.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-red);
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 70px;
}